.pagination__disabled {
  opacity: 0;
}

/* Registration Page */

/* Apply transitions only on large screens and above */
@media (min-width: 1024px) {
  .register__box-1,
  .register__box-2 {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Define the transition */
    transform: translateX(
      50%
    ); /* Adjusted initial state to reduce layout shift */
    opacity: 0; /* Initial opacity */
    will-change: transform; /* Hint the browser about the upcoming change */
  }

  .transition .register__box-1,
  .transition .register__box-2 {
    transform: translateX(0); /* State after transition */
    opacity: 1;
  }

  /* Original Initial States (now redundant but included for clarity) */
  .register__box-1 {
    transform: translateX(100%); /* Initial state */
  }

  .register__box-2 {
    transform: translateX(-100%); /* Initial state */
  }

  /* Final States After Transition */
  .transition .register__box-1,
  .transition .register__box-2 {
    transform: translateX(0); /* State after transition */
    opacity: 1;
  }
}

/* Login Page */

/* Apply transitions only on large screens and above */
@media (min-width: 1024px) {
  .login__box-1,
  .login__box-2 {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Define the transition */
    opacity: 0; /* Initial opacity */
  }

  .login__box-1 {
    transform: translateX(-100%); /* Initial state */
  }

  .login__box-2 {
    transform: translateX(100%); /* Initial state */
  }

  .transition .login__box-1 {
    transform: translateX(0); /* State after transition */
    opacity: 1;
  }

  .transition .login__box-2 {
    transform: translateX(0); /* State after transition */
    opacity: 1;
  }
}
